.account-settings {
  border-radius: 8px;

  .card-body {
    padding: 0 !important;
  }
  #uploadPersonalPhotoInputImgPreview {
    overflow: hidden;
  }
  textarea {
    resize: none;
  }
  .active {
    border-bottom: 2px solid #006298 !important;
  }
  .avatarImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .separator {
    width: 15px;
    height: 3px;
    background-color: #2b304db3;
    margin: 0 10px;
  }
}

.act-set-img-upload-wrapper {
  grid-template-columns: 6rem auto;

  .clear-upl-img {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background: rgb(177, 177, 177);
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    color: white;
    padding-bottom: 0.2rem;
    font-size: small;
}
}

.drop-signal {
  border: 2px dashed var(--at-blue-light) !important;
}

.clear-branding-color-btn {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: rgb(177, 177, 177);
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  color: white;
  padding-bottom: 0.2rem;
  font-size: small;
}