.reports-filter-wrapper {
    // background-color: #FEFEFE;
    // box-shadow: 0px 0px 24px rgba(0, 98, 152, 0.1);
    // margin-left: -1rem !important;
    // padding: 54px 40px;

    & > h2 {
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        color: #2D3250;
        margin-bottom: 20px;
    }

    & > p {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        line-height: 19px;
        font-size: 16px;
    }

    & > div:nth-of-type(1) {
        & > button:nth-of-type(1) {
            // background-color: #006298;
            color: white;
            text-align: center;
            // padding: 8px 16px;
            border-radius: 4px;
            margin-right: 0.6rem;
            margin-top: 0.5rem;
        }

        & > span {
            padding: 8px 16px;
            border-radius: 6px;
            margin-right: 0.4rem;
            cursor: pointer;
            margin-top: 0.5rem;
        }

        & > button:last-of-type:not(:first-child) {
            background-color: rgba(0, 0, 0, 0.05);
            color: black;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            padding: 8px 16px;
            border-radius: 4px;
            margin-top: 0.5rem;
            // box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
        }
    }
}

.filter-dropdown-wrapper {
    position: relative;

    li {
        list-style: none;
    }

    ul {
        padding: 0;
    }
}

.reports-filter-body {
    &.active {
        // border: 1px solid rgba(0, 0, 0, 0.05);
        margin-top: 3rem;
    }
    & > div:nth-child(1) {
        margin-bottom: 0.5rem;
    }
}

.filter-dropdown {
    min-width: 384px;
    max-width: 500px;
    display: grid;
    grid-template-columns: 162px 1fr;
    position: absolute;
    top: 0;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 24px rgba(0, 98, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    
    &.active {
        transform: translateY(20px);
        opacity: 1;
        pointer-events: auto;
    }

    & ul {
        margin-bottom: 0 !important;
    }

    & li {
        margin: 10px 0;
        font-size: 14px;
        line-height: 17px;
        color: #00000090;
        padding: 4px 8px;
        border-radius: 5px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0px;
        }

        &:first-child {
            margin-top: 0px;
        }

        &.active {
            background-color: rgba(0, 98, 152, 0.05) !important;
        }

        &:hover {
            background-color: rgba(0, 98, 152, 0.02);
        }
    }

    & > div:nth-child(1) {
        margin-right: 23px;
    }

    & > div:nth-child(2) {
        border-left: 0.5px solid #DADADA;
        padding-left: 13px;
    }
}

.filter-dropdown-contact {

    & > div:nth-child(1) {
        margin-bottom: 1rem;
        position: relative;

        input {
            display: inline-block;
            width: 100%;
            background: rgba(7, 150, 247, 0.1);
            border-radius: 3px;
            border: none;
            padding: 7px 10px 7px 27px;
            outline: none !important;
        }
        
        span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            pointer-events: none;        
        }
    }

    & > .fdc-loading {
        font-style: italic;
        display: inline-block;
        margin: 4px 0;
    }
}

.filter-dropdown-interval {
    max-width: 100%;
    & > div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;


        & > span {
            background-color: rgba(7, 150, 247, 0.1);
            padding: 5px 10px;
            border-radius: 6px;
            color:rgba(0, 0, 0, 0.8);
            cursor: pointer;

            &.active {
                background-color: rgba(7, 150, 247, 0.6) !important;
            }
        }
    }

    & > div:nth-of-type(2) {
        & > div.react-calendar {
            border: none!important;
            max-width: 282px;
        }
    }
}

.filter-dropdown-personnel, .filter-dropdown-category, .filter-dropdown-priority {

    & > div:nth-child(1) {
        margin-bottom: 1rem;
        position: relative;

        input {
            display: inline-block;
            width: 100%;
            background: rgba(7, 150, 247, 0.1);
            border-radius: 3px;
            border: none;
            padding: 7px 10px 7px 27px;
            outline: none !important;
        }
        
        span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            pointer-events: none;        
        }
    }

    & > .fdc-loading {
        font-style: italic;
        display: inline-block;
        margin: 4px 0;
    }
}

.filter-dropdown-search, .filter-dropdown-rating {

    & > div:nth-child(1) {
        margin-bottom: 1rem;
        position: relative;

        input {
            display: inline-block;
            width: 100%;
            background: rgba(7, 150, 247, 0.1);
            border-radius: 3px;
            border: none;
            padding: 7px 10px 7px 10px;
            outline: none !important;
        }
        
        span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            pointer-events: none;        
        }
    }

    & > div:nth-child(2) {
        text-align: center;

        & > button {
            background-color:#006298;
            color: white;
            padding: 5px 12px;
            border-radius: 6px;
        }

    }
}