/* * USER */
.new-user-dropdown > div {
    transform: translateY(2.5rem) !important;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.new-user-dropdown .dropdown-item {
    text-align: left !important;
    padding-left: 0.2rem;
    width: 100%;
}

.new-user-dropdown .dropdown-divider {
    margin: 0.1rem 0;
}

.invite-info-row {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
}

/* * FIELD */
.field-tab-wrapper .nav-tabs {
    border-bottom: none;
}

#alphacxMTable.acx-user-table {
    margin-top: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#alphacxMTable.acx-user-table-2 {
    margin-top: 2rem;
}

#alphacxMTable.acx-group-table {
    margin-top: 0rem !important;
}

#alphacxMTable.acx-user-table-2 table:nth-of-type(1) th:nth-of-type(1) {
    font-size: 1.2rem;
    padding-left: 1.3rem !important;
}

#alphacxMTable.acx-user-table-2 table:nth-of-type(1) td:nth-of-type(1) {
    padding-left: 1.8rem !important;
}

#alphacxMTable.acx-user-table > div > div:nth-child(1) {
    display: none !important;
}
#alphacxMTable.acx-user-table > div > div:nth-child(1) {
    display: none !important;
}
#alphacxMTable.acx-group-table > div > div:nth-child(1) > div:nth-child(2) {
    padding-left: 0;
    margin-left: -1rem;
}
#alphacxMTable.acx-group-table > div > div:nth-child(2) {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#alphacxMTable.acx-group-table .MuiTableRow-root td {
    border: none !important;
}

.role-search-icon {
    top: 0.9rem;
    left: 0.3rem;
    pointer-events: none;
}

/* * >>>>>> TICKET SETTINGS <<<<<<< */
.ticket-cat-tab {}

.ticket-cat-tab > div {
    min-height: 20rem;
}
.ticket-cat-tab > div:nth-child(1) {
    margin-right: 1rem;
}

.tl-col {
    display: grid;
    grid-template-columns: 7rem auto;
}

#alphacxMTable.acx-category-table {
    margin-top: 1rem !important;
}

.tr-delete-btn {
    position: absolute;
    top: -3.5rem;
    right: 0;
}
.setting-link-item {
    flex-basis: 32%;
}
.setting-link-item:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#imgDefault {
    width: 6rem;
    height: 6rem;
    right: 0;
    border: 1px solid #f1f1f1;
}

.ticket-dist-row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-gap: 1rem;
}

.ticket-closes-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.ticket-closes-wrapper span {
    background-color: rgb(233, 236, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    color: black;
}

.ticket-closes-wrapper input {
    border: none;
}