#ticketsTable {
    position: relative;
}

#ticketsTable .MuiPaper-elevation2 {
    box-shadow: none !important;
}

#ticketsTable .MuiPaper-rounded {
    border-radius: 0rem !important;
}

#ticket-status-select {
    border: none !important;
}

#ticketsTable .MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-5.MuiToolbar-gutters {
    position: absolute;
    z-index: 55;
    top: -4.5rem;
    padding: 0
}

#ticketsTable .MTableToolbar-spacer-7 {
    flex: none;
}

#ticketsTable .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd {
    border: 1px solid rgba(0, 0, 0, 0.3);
}