#alphacxMTable {
    position: relative;
}

#alphacxMTable .MuiPaper-elevation2 {
    box-shadow: none !important;
}

#alphacxMTable .MuiPaper-rounded {
    border-radius: 0rem !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#ticket-status-select {
    border: none !important;
    width: auto;
    padding-left: 0;
}
#alphacxMTable > div:nth-child(1) > div:nth-child(1),
#alphacxMTable .MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-59.MuiToolbar-gutters,
#alphacxMTable .MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-41.MuiToolbar-gutters {
    position: absolute;
    z-index: 1;
    top: -4.5rem;
    padding: 0 1rem;
    flex-direction: flex-start;
}

#alphacxMTable > div:nth-child(1) > div:nth-child(1) > div:nth-child(1),
#alphacxMTable .MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-59.MuiToolbar-gutters > div:nth-child(1),
#alphacxMTable .MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-41.MuiToolbar-gutters > div:nth-child(1) {
    flex: none !important;
}

#alphacxMTable .MTableToolbar-spacer-7 {
    flex: none;
}

#alphacxMTable .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 0px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#alphacxMTable .MTableToolbar-searchField-46 {
    padding-left: 0 !important;
}


#alphacxMTable .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
    margin-left: 0.8rem;
}

#alphacxMTable  tr > td:nth-child(1),
#alphacxMTable  tr > th:nth-child(1) {
    padding-left: 0.5rem !important;
}

#alphacxMTable  tr > td:nth-child(1) > span,
#alphacxMTable  tr > th:nth-child(1) > span {
    transform: scale(0.8);
}

#ticket-ath-box {
    border: 2px dashed rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
}

.ct-description {
    min-height: 8rem !important;
}

.ticket-status-dropdown > div {
    box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.1);
}

.ticket-status-dropdown > button {
    font-size: 0.9rem !important;
}

.ticket-status-dropdown > button:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* #alphacxMTable > div > div > div:nth-child(3) {
    border: 1px solid red;
    display: none;
} */

#alphacxMTable tfoot tr:last-child {
    border-bottom: none !important;
}

#alphacxMTable.acx-ticket-cust-table > div:nth-child(1) > div:nth-child(1) {
    background-color: transparent !important;
}

#alphacxMTable.acx-ticket-cust-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    display: none;
}

#alphacxMTable.acx-ticket-cust-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(2):not(div.MuiFormControl-root) {
    border: 1px solid rgb(158, 153, 153);
    display: none;
}

#alphacxMTable.acx-ticket-cust-table > div:nth-child(1) > div:nth-child(1) > div.MuiFormControl-root:nth-child(2) {
    padding-left: 0;
}

#alphacxMTable.acx-ticket-cust-table > div:nth-child(1) > div:nth-child(1) > div.MuiFormControl-root:nth-child(3) {
    padding-left: 0;
}