.new-support-email {
  background-color: white;
  border-radius: 4px !important;
  .card-body {
  }

  .bg-outline-mail {
    border: 1px solid #2d325028;
    height: 74px;
  }
  .mail-active {
    border-color: #006298;
  }
}

.email-settings-card {
  border-radius: 10px 10px 0px 0px !important;
  -webkit-border-radius: 10px 10px 0px 0px !important;
  -moz-border-radius: 10px 10px 0px 0px !important;
  -ms-border-radius: 10px 10px 0px 0px !important;
  -o-border-radius: 10px 10px 0px 0px !important;

  .card-header {
    background: #f0f0f0 !important;
    border-bottom: none !important;
  }
}

.valign-middle-spinner > * {
  vertical-align: middle;
}