.nav-card {
  height: 159px;
  // width: 30%;
  width: 350px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #ffffff;
  border: 0.5px solid #dadada;
  box-sizing: border-box;
  box-shadow: 0px 0px 24px rgba(0, 98, 152, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
  padding: 0.8rem 31px;
  
  a {
    color: unset;
    display: grid;
    grid-template-columns: auto 1fr;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;

    & > .article-count {
      position: absolute;
      right: -0.5rem;
      bottom: -0.8rem;
    }

    & > div:nth-child(2) {
      margin-left: 1rem;
      
      p:nth-child(1) {
        margin-bottom: 8px;
        font-size: 18px;
      }

      div:nth-child(2) {
        p {
          font-size: 14px;
          text-align: left;
        }
      }
    }
    &:hover {
      color: unset;
    }
  }
  &:hover {
    box-shadow: 0px 0px 24px rgba(0, 99, 152, 0.308);
    cursor: pointer;
  }

  .nav-icon {
    margin-bottom: 20px;
  }
  .title {
    color: rgba(43, 48, 77, 0.7);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
  .description {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    p {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0;
      padding-left: 15px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 8px;
        height: 5px;
        width: 5px;
        background: #2b304db3;
        border-radius: 5px;
      }
      &:first-child {
        padding-left: 0;
        &::after {
          background: unset !important;
        }
      }
    }
  }
}
