.appsumo-plans-page {
    padding-bottom: 125px;
}

.appsumo__section--one {
    text-align: center;

    & > h1 {
        font-weight: 600;
        font-size: 46px;
        line-height: 59px;
        letter-spacing: -0.02em;
        color: #0E0E2C;
        margin-bottom: 20px;
    }

    & > p {
        max-width: 705px;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        color: #4A4A68;
        margin: 0 auto;
    }
}

.appsumo__section--two {
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(3, 358px);
    gap: 42px;
    grid-gap: 42px;
    justify-content: space-between;
}

.appsumo__card {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 36px 24px;
    // 
    & > h4:first-child {
        font-size: 25px;
        font-weight: 400;
        line-height: 29px;
    }

    & > h2:first-child {
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
    }

    & > p:first-child {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0 !important;
    }

    & > .appsumo__card--cta {
        display: block;
        margin: 32px calc(33px - 24px);
        width: calc(100% - 2 * calc(33px - 24px));
        padding: 16px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    & > .appsumo__card--features {
        padding-left: 0;
         & > li {
            list-style: none;
            display: grid;
            grid-template-columns: 24px auto;
            grid-gap: 12px;
            gap: 12px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
         }
    }

}

.appsumo__card--free {
    background-color: #D0EAFF;
    color: #004882;

    & > .appsumo__card--cta {
        background-color: #004882;
        color: #D0EAFF;
    }
}

.appsumo__card--alpha {
    background-color: #FFDAE3;
    color: #C20C38;

    & > .appsumo__card--cta {
        background-color: #C20C38;
        color: #D0EAFF;
    }

}

.appsumo__card--enterprise {
    background: #0E0E2C;
    color: #FFFFFF;

    & > .appsumo__card--cta {
        background-color: #FFFFFF;
        color: #0E0E2C;
    }
}